<h1>Creación/ edición de productos</h1>
<div>
<form class="form-group d-flex flex-column" action="" [formGroup]="formulario" (ngSubmit)="enviarFormulario()" >
    <label for="">Nombre del producto:</label>
    <input formControlName="producto" type="text">
    @if (formulario.get("producto")?.touched && formulario.get("producto")?.errors){
        <span>requerido</span>
    }
    <label for="">Precio:</label>
    <input formControlName="Precio" type="text">
    @if (formulario.get("Precio")?.touched && formulario.get("Precio")?.errors){
        <span>requerido</span>
    }
    <label for="">Descripción:</label>
    <input formControlName="Descrip" type="text">
    <label for="">Ruta de la imagen:</label>
    @if (formulario.get("Descrip")?.touched && formulario.get("Descrip")?.errors){
        <span>requerido</span>
    }
    <input formControlName="Imagen" type="text">
    <label for="">Opiniones:</label>
    @if (formulario.get("Imagen")?.touched && formulario.get("Imagen")?.errors){
        <span>requerido</span>
    }
    <input formControlName="Opiniones" type="text">
    <button type="submit" class="btn btn-warning">Guardar</button>
</form>
<!-- {{formulario.valid}} -->
 <div>
   <app-product></app-product>
 </div>
 
</div>
